<%= form_tag @p[:post_url], :method => @p[:method] do %>
  <% if @p[:errors].any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@p[:errors].count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @p[:errors].each do |property, errors| %>
        <% errors.each do |error| %>
          <li><%= "#{property.capitalize} #{error}"  %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for='post_title'>Title</label></br>
    <%= text_field_tag 'post[title]', @p[:title] %>
  </div>
  <div class="field">
    <label for='post_date'>Date</label><br>
    <%= date_field_tag 'post[date]', @p[:date] %>
  </div>
  <div class="field">
    <label for='post_body'>Body</label><br>
    <%= text_area_tag 'post[body]', @p[:body] %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
